<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/dashboard.css" ">
  <link rel="stylesheet" href="/logreg.css" ">
</head>
<body>
  <img src="/assets/killua.png" alt="Random Anime Character" class="killua">
  <img src="/assets/gon.png" alt="Random Anime Character" class="gon">
  <div class="auth-container">
    <h2>Register</h2>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
  </div>
</body>
</html>