body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;


  background: linear-gradient(-45deg, #1de9b6, #1a1a2b, #2c2c3e, #14b89f);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav a {
  color: #1de9b6;
  text-decoration: none;
  margin: 0 18px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 8px #1de9b6;
}

.home-container {
  width: 90%;
  max-width: 600px;
  margin: 150px auto;
  background: linear-gradient(145deg, #1a1a2b, #2c2c3e);
  border-radius: 15px;
  padding: 50px 30px;
  box-shadow: 0 8px 25px rgba(29, 233, 182, 0.5);
  text-align: center;
  position: relative;
  z-index: 1;
}

.home-container h1 {
  font-size: 32px;
  color: #1de9b6;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px #000;
}

.home-container p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 35px;
}

.home-container button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #1de9b6;
  color: #111;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.home-container button:hover {
  background-color: #14b89f;
  box-shadow: 0 0 12px rgba(29, 233, 182, 0.7);
}

.anime-character {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: auto;
  margin-top: 250px;
  z-index: -1;
}

@media (max-width: 600px) {
  .home-container {
    width: 90%;
    padding: 40px 20px;
  }

  .home-container h1 {
    font-size: 26px;
  }

  .home-container p {
    font-size: 16px;
  }

  .home-container button {
    font-size: 16px;
    padding: 12px 25px;
  }
}