body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #1e1e2f;
  margin: 0;
  padding: 0;
  color: #fff;
}

nav a {
  color: #1de9b6;
  text-decoration: none;
  margin: 0 18px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 8px #1de9b6;
}


.home-container {
  width: 90%;
  max-width: 600px;
  margin: 150px auto;
  background: linear-gradient(145deg, #1a1a2b, #2c2c3e);
  border-radius: 15px;
  padding: 50px 30px;
  box-shadow: 0 8px 25px rgba(29, 233, 182, 0.5);
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}


.home-container h1 {
  font-size: 32px;
  color: #1de9b6;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px #000;
}


.home-container p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 35px;
}


.home-container button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #1de9b6;
  color: #111;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.home-container button:hover {
  background-color: #14b89f;
  box-shadow: 0 0 12px rgba(29, 233, 182, 0.7);
}


@media (max-width: 600px) {
  .home-container {
    width: 90%;
    padding: 40px 20px;
  }

  .home-container h1 {
    font-size: 26px;
  }

  .home-container p {
    font-size: 16px;
  }

  .home-container button {
    font-size: 16px;
    padding: 12px 25px;
  }
}